extends layout

block content
	div.container
		div.jumbotron
			h1= title
			p Welcome to #{title}
			form(action="/data" method="post")
					input(type="text" name="query" value="Business")
					input(type="text" name="loc" value="State")
					select(name="business_type")
						each googleOption, i in googleOptions
							option(value=i) #{googleOption}
					input(id="submit" type="submit" value="Go")
