extends layout


block content
	div(id="picture_background")
		div(class="wrapper")
			div(class="padding")
				h1	BisNiche
				form(action="/" method="get")
					input(type="text" value="City")
					input(type="text" value="Business")
					input(id="submit" type="submit" value="Go")
	div(id="footer")
		div(class="wrapper")
			div(class="padding")
